<table>
  <tr>
    <td>
      <center>
        <h1 class="center">
          <%= Spree.t('abandoned_cart_greeting') %>
        </h1>
      </center>
    </td>
    <td class="expander"></td>
  </tr>
</table>


<% @order.line_items.each do |item| %>
  <table class="row">
		<tr>
			<td class="wrapper">
				<table class="three columns">
					<tr>
						<td>
							<% variant = item.variant %>
                <% if variant.images.length == 0 %>
                    <%= image_tag product_image(variant.product) %>
                  <% else %>
                    <%= image_tag(main_app.url_for(variant.images.first.url(:product)), alt: item.name) %>
              	<% end %>
						</td>
						<td class="expander"></td>
					</tr>
				</table>
			</td>
			<td class="wrapper last">
				<table class="nine columns">
					<tr>
						<td>
							<%= item.name %>
              <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
						</td>
						<td class="expander"></td>
					</tr>
				</table>
			</td>
      <td class="expander"></td>
		</tr>
	</table>
<% end %>


<table class="button">
     <tr>
       <td>
         <a href="<%= spree.root_url %>cart"><%= Spree.t('abandoned_cart_button_text') %></a>
       </td>
     </tr>
</table>
